/* style.module.scss */

.li {
  margin-bottom: 20px;
  padding: 10px;
  min-height: 100px;
  min-width: 90%;
  max-width: 90%;
  list-style: none;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-list {
  padding: 10px;
}

.todo-list span {
  font-size: 18px;
  font-weight: bold;
}

.todo-list p {
  margin-top: 5px;
  font-size: 16px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.buttons :nth-child(1):hover {
  background-color: green;
  color: white;
}
.buttons :nth-child(2):hover {
  background-color: red;
  color: white;
}

